<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJs new Weather App</title>


{{>headerlink}}
    
    
</head>
<body>


{{>navbar}}


     <!-- main header -->
     <div  class="container-fluid main-menu">
        <div class="row"> 
            <div class="col-md-10 col-12 mx-auto"> 
                
             <div class="row">
                 <!-- right side dive -->
                  
                 <div class="col-md-6 col-12 main_menu_left">
                  <figure> 
                  <img src="images/alam.png.png" alt="picture" class="img-fluid" title="weather">
                </figure>
                     </div>

                 <div class="col-md-6 col-12 main_menu_right">
                    <p>Welcome to Weather app</p>
                    <h1>I Am A <span class="text_color">Mern Stack Devloper</span>Technologiate </h1>
                    <a href="https://technologiate.com/about/" target="alam"><button>About me</button></a>
                 </div>
                 <!-- left side dive -->
              
             </div>


         </div>
      </div>
     </div>

     <footer>
         <p>Created with new project</p>
      </footer>
    
</body>
</html>